<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue-todo-list</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
</head>
<style type="text/css">

    .undo {
        color: #5cb85c;
    }

    .completed {
        color: #ca2111;
        text-decoration: line-through;
    }

    .list-group-item {
        margin: 10px 0;
    }
</style>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default"></div>
            <div class="panel-heading">Welcome Vue.js 2.0 Tutorial</div>
            <div class="panel-body">
                <h1>MY todos {{todoCount}}</h1>
                <todo-items :todos="todos"></todo-items>

                <todo-form :todos="todos"></todo-form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>

<script type="text/x-template" id="todo-add-form-template">
    <form v-on:submit.prevent="addTodo(newTodo)">
        <div class="from-group">
            <input type="text"
                   v-model="newTodo.title"
                   class="from-control"
                   placeholder="add a new todo">
        </div>
        <div class="from-group">
            <button class="btn btn-success" type="submit">Add Todo</button>
        </div>
    </form>

</script>

<script type="text/x-template" id="todo-items-template">
    <ul class="list-group">
        <li class="list-group-item"
            v-bind:class="[todo.completed?'completed':'undo']"
            v-for="(todo,index) in todos">
            {{todo.title}}
            <button class="btn btn-warning btn-sm float-right"
                    v-on:click="deleteTodo(index)"
            >Remove
            </button>

            <button class="btn btn-sm float-right"
                    v-bind:class="[todo.completed?'btn-danger':'btn-success']"
                    v-on:click="toggleCompletion(todo)"
            >{{todo.completed?'undo ':'completed'}}
            </button>

        </li>
    </ul>
</script>

<script type="application/javascript">
    Vue.component('todo-items', {
        template: '#todo-items-template',
        props: ['todos'],
        methods: {
            deleteTodo(index) {
                this.todos.splice(index, 1);
            }, toggleCompletion(todo) {
                todo.completed = !todo.completed;
            }
        }

    });

    Vue.component('todo-form', {
        template: '#todo-add-form-template',
        props: ['todos'],
        data() {
            return {
                newTodo: {
                    id: null,
                    title: '',
                    completed: false
                }
            }
        },
        methods: {
            addTodo(newTodo) {
                this.todos.push(newTodo);
                this.newTodo = {id: '', title: '', completed: false};
            }
        }
    });

    new Vue({
        el: '#app',
        data: {
            newTodo: {
                id: null,
                title: '',
                completed: false
            }
        },
        computed: { //计算、处理数据
            todoCount() {
                return this.todos.length;
            }
        },

    })
</script>
</body>
</html>